.dayBox {
  position: relative;
  border-radius: 50%;
  border-width: 2px;
  border-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-6));
  border-style: solid;
  height: 40px;
  aspect-ratio: 1/1;

  &[data-missed="true"] {
    border-color: transparent;
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-gray-7));
  }

  &[data-hit="true"] {
    font-weight: 400;
    border-color: transparent;
    background: var(--mantine-color-orange-5);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: white;
  }

  &[data-today="true"] {
    font-weight: 500;
    border-color: var(--mantine-color-orange-8);
  }
}

.icon {
  position: absolute;
  bottom: 0;
}
