.dayBox {
  position: relative;
  border-radius: 50%;
  border-width: 2px;
  border-color: transparent;
  /* border-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-6)); */
  border-style: solid;
  height: 40px;
  aspect-ratio: 1/1;

  &[data-missed="true"] {
    border-color: transparent;

    /* background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-gray-7)); */
  }

  &[data-hit="true"] {
    font-weight: 400;
    border-color: var(--mantine-color-teal-7);
    background: alpha(var(--mantine-color-teal-7), 0.3);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: light-dark(#2b2b2b, white);
  }

  &[data-today="true"] {
    font-weight: 500;
    border-color: light-dark(#2b2b2b, var(--mantine-color-gray-1));
  }
}

.icon {
  position: absolute;
  bottom: 0;
}
