.typeIcon {
  flex-shrink: 0;
}

.chipRoot {
  display: flex;
}

.chipLabel {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  padding: rem(4) rem(8);
  /* height: 100%; */
  /* width: 100%; */
}

.chipLabelCheckIcon {
  display: none;
}

.typePaper {
  cursor: pointer;
}

.customChip {
  border-style: dashed;

  &:not([data-checked="true"]) {
    border-color: var(--mantine-color-gray-5) !important;
    background: transparent;
  }
}
