.main {
  flex-grow: 1;
  overflow: hidden;
}

/* Theme overrides */

.lightButton {
  box-shadow: 0 0 2px 0px;
}

.paper {
  border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-7));
}

.checkbox {
  @mixin light {
    border-color: var(--mantine-color-gray-2);
  }
}
