@layer mantine, globals, theme;

@layer theme {
  .main {
    flex-grow: 1;
    overflow: hidden;
    background-color: light-dark(var(--mantine-color-gray-0), #2c2d30);
  }

  .divider {
  }

  .navbarDivider {
    border-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-gray-6));
  }

  /* Global classes */
  .heightLocked {
    height: 100%;
    overflow: hidden;
  }

  .scrollable {
    overflow: auto;
  }

  /* Theme overrides */

  .lightButton {
    /* box-shadow: 0 0 2px 0px; */
  }

  .paper {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-indigo-3));
  }

  .checkbox {
    &:not(:checked):not([data-indeterminate="true"]) {
      border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-indigo-3));
    }
  }
}
