.Exercise {
   max-width: max-content;
   min-width: 200px;
   margin: 5px;
   border: 1px solid #adadad;
   border-radius: 0px;
   overflow: hidden; /* Hide leak */
}

.Exercise > header {
   padding: .25rem .75rem;
   background-color: #dbedfc;
   border-bottom: 1px solid #adadad;
}

.Exercise_data {
   display: flex;
   align-items: center;
   width: 100%;
}

.Exercise_data > div {
   flex-grow: 1;
   padding: 2px;
}