.dayBox {
  position: relative;
  border-radius: 50%;
  border-width: 2px;
  border-color: var(--mantine-color-gray-4);
  border-style: solid;
  height: 40px;
  aspect-ratio: 1/1;

  &[data-today="true"] {
    font-weight: 500;
    border-color: var(--mantine-color-blue-7);
    /* background: rgba(var(--mantine-color-teal-7), 0.1); */
  }

  &[data-missed="true"] {
    border-color: transparent;
    background-color: var(--mantine-color-gray-1);
  }

  &[data-hit="true"] {
    /* border-color: var(--mantine-color-green-6); */
    border-color: transparent;
    background: var(--mantine-color-blue-7);
  }
}

.fire {
  position: absolute;
  width: 100%;
  height: 100%;
}
