/* Reset and Global CSS */

@layer globals {
  :root {
    --bg-violet: rgba(41, 33, 68, 1);
    --bg-light: #f0ecf3;
  }

  * {
    font-family: "Maven Pro", sans-serif !important;
  }

  html,
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
  }

  body {
    background-color: light-dark(var(--bg-light), var(--bg-violet));
  }

  #root {
    min-height: 100vh;
    background: light-dark(
      var(--bg-light),
      repeating-linear-gradient(to bottom, var(--bg-violet) 0%, rgb(35, 34, 40) 50%, var(--bg-violet) 100%)
    );
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-family: inherit;
  }

  a:not([type="button"]) {
    color: inherit;
    text-decoration: none;
  }
}
